<div class="container">
  <h2>Reset Your Password</h2>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <label for="email">Enter your email address:</label>
    <input id="email" formControlName="email" type="email" placeholder="Email" />
    <div *ngIf="email.invalid && email.touched" class="error">
      <span *ngIf="email.errors?.['required']">Email is required</span>
      <span *ngIf="email.errors?.['email']">Enter a valid email</span>
    </div>
    <button type="submit" [disabled]="forgotForm.invalid">Send Reset Link</button>
  </form>
   <div class="remembered-it">
 |<a href="#" (click)="goBackToLogin(); $event.preventDefault()">Remembered it?</a>
</div>


</div>

