$bg-color: #f4f6f9;
$text-color: #1f2937;
$primary-color: #6f60bf;
 $main-color: #1f2937;
.container {
  max-width: 500px;
  margin: 80px auto;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 140px;



  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: $text-color;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
      font-size: 1.1rem;
      color: $text-color;
      text-align: left;
    }

    input {
      padding: 12px 15px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    .error {
      color: red;
      font-size: 0.9rem;
      text-align: left;
    }

    button {
      background-color: $primary-color;
      color: white;
      border: none;
      padding: 12px;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-color, 10%);
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  .remembered-it {
    margin: 50px 0 15px;
 a {
    font-size: 14.5px;
    color: $main-color;
    text-decoration: none;
}
  }
}
