<div >
    <header >
      <a href="#home" class="logo"><h1 class="site-name">Therapia</h1></a>
      

      <div class="bx bx-menu" id="menu-icon"></div>
      <ul class="navbar" >
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#team">Our Team</a></li>
        <li><a href="#review">Review</a></li>
      </ul>
  
      <div class="top-btn">
        <button class="nav-btn" (click)="openSignUp()">Sign up</button>
      </div>
      <div class="top-btn">
        <button class="btn" (click)="openLogin()">Log In</button>
      </div>
    </header>
  </div>
  