
  

<div class="recovery-team">
    <div class="slider-container" >
        <h2 class="heading">Trainers <span> Team</span></h2>
    
        <div #slider class="recovery-content">
           <!-- عرض كل بطاقة باستخدام *ngFor  -->
          <div *ngFor="let trainer of trainers" class="card mb-3 " >
            <div class="row g-0">
              <div class="col-md-6 ">
                <img [src]="trainer.image" class="img-fluid rounded-start" alt="...">
                <div class="social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <!-- <a href="#"><i  class="fab fa-instagram"></i></a> -->
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
              </div>
              
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">{{ trainer.name }}</h5>
                  <p class="card-text">{{ trainer.description }}</p>
                  
   
                </div>
              </div>
            </div>
          </div>
        </div>
      
         <!-- أزرار الانتقال  -->
        <button class=" arrow left " (click)="prevSlide()">&#60;</button>
        <button class=" arrow right" (click)="nextSlide()">&#62;</button>
      </div>
</div>
 

    