
 <!-- footer section code -->
 <footer class="footer">

    <div class="wrapper">
        <div class="review-item">
            <img src="WhatsApp Image 2025-02-15 at 20.28.45.jpeg" alt="">
            <h2>Rahma</h2>
                    </div>

        <div class="review-item">
            <img src="WhatsApp Image 2025-02-15 at 20.27.59 (3).jpeg" alt="">
            <h2>Salma</h2>
                    </div>

         <div class="review-item">
            <img src="WhatsApp Image 2025-02-15 at 20.27.59 (3).jpeg" alt="">
            <h2>Hader</h2>
                     </div>           

        <div class="review-item">
            <img src="WhatsApp Image 2025-02-15 at 20.27.59 (3).jpeg" alt="">
            <h2>Rokia</h2>
                  </div>
    </div>

    <div class="center-line"></div>


   
    <p class="copyright">
        &copy; Health Tracker 2025 - All Rights Reserved
    </p>
</footer>
