<!-- footer section code -->
<footer class="footer">
  <div class="wrapper">
    <div class="review-item">
      <div class="avatar">RS</div>
      <h2>Rahma Salah</h2>
    </div>

    <div class="review-item">
      <div class="avatar">SM</div>
      <h2>Salma Mahmoud</h2>
    </div>

    <div class="review-item">
      <div class="avatar">HR</div>
      <h2>Hadeer Ragab</h2>
    </div>

    <div class="review-item">
      <div class="avatar">RA</div>
      <h2>Roqia Ahmed</h2>
    </div>
  </div>

  <div class="center-line"></div>

  <p class="copyright">
    &copy; Health Tracker 2025 - All Rights Reserved
  </p>
</footer>
