$main-color: #6f60bf;
$background-color: #eeeafd; // خلفية هادئة بنفسيجية فاتحة
$input-color: #d5cbff; // تدرج بنفسجي فاتح للمدخلات

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 40px 20px;
}

.card {
  background-color: $background-color;
  padding: 50px 25px;
  width: 700px;
  border-radius: 16px;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  margin-top: 120px;

  &:hover {
    transform: scale(1.01);
  }
}

h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: $main-color;
}

.date-options {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;

  .date-input {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    border: 2px solid $main-color;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    color: $main-color;
    font-weight: 500;
  }
}

.session-time {
  margin-bottom: 25px;

  label {
    display: block;
    margin-bottom: 8px;
    color: $main-color;
    font-weight: 500;
  }

  .time-inputs {
    display: flex;
    gap: 12px;

    .time-box {
      width: 100%;
      padding: 12px;
      background-color: #fff;
      border: 2px solid $main-color;
      border-radius: 10px;
      text-align: center;
      font-size: 1rem;
      color: $main-color;
      font-weight: 500;
    }
  }
}

.session-type {
  margin-bottom: 25px;

  label {
    display: block;
    margin-bottom: 8px;
    color: $main-color;
    font-weight: 500;
  }

  .options {
    display: flex;
    align-items: center;
    gap: 30px;

    .radio-option {
      display: flex;
      align-items: center;
      gap: 6px;

      input[type='radio'] {
        accent-color: $main-color;
        transform: scale(1.1);
      }

      span {
        color: $main-color;
        font-weight: 500;
      }
    }
  }
}

.price {
  margin-bottom: 25px;

  label {
    color: $main-color;
    font-weight: 500;
  }

  p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
  }
}

.confirm-btn {
  width: 100%;
  padding: 14px;
  background-color: $main-color;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($main-color, 10%);
  }
}

.success-message {
  background-color: lighten($main-color, 45%);
  color: $main-color;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}
