<!-- <div class="product-statistics">
  <h2>Product Statistics</h2>

  <div class="product" *ngFor="let product of products">
    <div class="product-header">
      <span class="name">{{ product.name }}</span>
      <span class="value">{{ product.value }}%</span>
    </div>
    <div class="progress-bar">
      <div class="fill" [style.width.%]="product.value"></div>
    </div>
  </div>
</div> -->

<div class="my"><span>My Profile</span></div>
<div class="profile-card">
  <img class="profile-img" src="images\doc.jpeg" alt="Doctor" />
  <h3>Dr. Mostafa Ahmad</h3>
  <p class="title">DERMATOLOGIST</p>
  <p class="location">Cairo , Egypt</p>

  <div class="info">
    <p><strong>Special:</strong> 17.07.86</p>

    <p><strong>Working Hours:</strong> 9pm - 5am</p>
        <p><strong>Years Of Experiance:</strong> 5 Years</p>

  </div>
</div>
