<header class="header">
  <div class="report-title">
    <h1>Dr.Mostafa Ahmad</h1>
    <p>Friday, December 15th 2023</p>
  </div>
  <div class="user-info">

    <!-- <img src="user-avatar.png" alt="User" class="avatar" /> -->
    <!-- <div id="active"></div> -->
    <button class="active-btn" >Log out</button>
    <button (click)="toggleActive()" [ngClass]="{ 'active-btn': isActive, 'not-active-btn': !isActive }"
      class="active_btn" >
      {{ isActive ? 'Active' : 'Not Active' }}
    </button>

    <span>Ferra Alexandra</span>
  </div>
</header>
