<nav class="sidebar">
  <a class="logo" routerLink="/home"> PATIENT HOME </a>
  <ul class="menu">
    <li>
      <a routerLink="/patient/:id/dashboard" routerLinkActive="active">
        <i class="bx bx-grid-alt"></i> Dashboard
      </a>
    </li>
     <li>
      <a routerLink="/patient/:id/guideline" routerLinkActive="active">
        <i class="bx bx-compass"></i> Guideline
      </a>
    </li>
    <li>
      <a routerLink="/patient/:id/upcoming" routerLinkActive="active">
        <i class="bx bx-calendar-event"></i> Upcoming
      </a>
    </li>
    <li>
      <a routerLink="/patient/:id/previous" routerLinkActive="active">
        <i class="bx bx-history"></i> Previous
      </a>
    </li>
    <li>
      <a routerLink="/patient/:id/requests" routerLinkActive="active">
        <i class="bx bx-envelope"></i> Requests
      </a>
    </li>
    <li>
      <a routerLink="/patient/:id/wallet" routerLinkActive="active">
        <i class="bx bx-wallet"></i> Wallet
      </a>
    </li>
    <li>
      <a routerLink="/patient/:id/profile_edit" routerLinkActive="active">
        <i class="bx bx-cog"></i> Profile Edit
      </a>
    </li>
  </ul>
</nav>
