<section class="home" id="home">
  <div class="home-content">
    <h3>Find Your</h3>
    <h1>Inner Peace</h1>
    <h3><span class="multiple-text">Therapia</span></h3>
    <p>Discover techniques to relax, heal, and grow. Your mental and physical well-being starts here.</p>
    <!-- استخدام الدوال بدلاً من routerLink -->
    <a class="nav-btn" (click)="openSignUp()">Sign up</a>
    <a class="btn" (click)="openLogin()">Log In</a>
  </div>
  <div class="home-image">
    <img src="home/meditation-concept-illustration_114360-29201.avif" alt="Inner Peace Image" />
  </div>
</section>
