<!-- about section code -->
<section class="about" id="about">
  <div class="about-img">
      <img src="WhatsApp Image 2025-02-15 at 20.27.59.jpeg" alt="">
  </div>
  <div class="about-content">
      <h2 class="heading">Why Choose Us?</h2>
      <p>Chat instantly with certified doctors, therapists, and coaches — anytime, anywhere.</p>
      <p>Book your sessions with ease, choose the right specialist, and manage appointments in just a few taps.</p>
      <p>Get tailored guidance from professionals who care — whether you need medical advice, mental health support, or fitness coaching. </p>
      <p>From consultation to follow-up, everything is in one place. No confusion. No hassle </p>
      <a href="#" class="btn">Book a Free Class</a>
  </div>
</section>